* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.grid-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid {
  border: 1px solid rgb(121, 121, 124);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 350px;
}

.grid div {
  border: 1px solid rgba(238, 238, 238, 0.336);
  flex-grow: 1;
  height: 5%;
  width: 10%;
  color: rgb(245, 243, 243);
  /* Remove Later >>>> */
  display: flex;
  align-items: center;
  justify-content: center;
  /* <<<<<<<<<<<<<<<<< */
}

.grid div.block {
  border: 1px solid black;
  height: 5%;
  width: 10%;
  background: yellow;
}