* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.grid-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid {
  border: 3px solid rgb(121, 121, 124);
  border-radius: 4px;
  height: 650px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.grid .row {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.grid .row .cell {
  /* border: 1px solid rgb(121, 121, 124); */
  width: 100%;
  height: 100%;
}

.block {
  width: 100%;
  height: 100%;
}

.locked {
  width: 100%;
  height: 100%;
  background-color:black !important;
}

/* Color Palette */
/* https://coolors.co/3c91e6-06d6a0-efa00b-7e3f8f-e0607e-fb3640-307351 */

.i {
  background-color: #EFA00B;
}

.l {
  background-color: #FB3640;
}

.j {
  background-color: #307351;
}

.t {
  background-color: #7E3F8F;
}

.s {
  background-color: #E0607E;
}

.z {
  background-color: #06D6A0;
}

.o {
  background-color: #3C91E6;
}

h4 {
  text-align: center;
}

.hold,
.history {
  border-radius: 4px;
}

.hold {
  border: 1px solid red;
  position: relative;
  top: -250px;
  width: 100px;
  height: 100px;
}

.history {
  border: 1px solid green;
  position: relative;
  top: -175px;
  width: 100px;
  height: 250px;
}

/* 
.grid {
  border: 1px solid rgb(121, 121, 124);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 350px;
}

.grid div {
  border: 1px solid rgba(238, 238, 238, 0.336);
  flex-grow: 1;
  height: 5%;
  width: 10%;
  color: rgb(245, 243, 243);
  /* Remove Later >>>> */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* <<<<<<<<<<<<<<<<< */
/* } */

/* .grid div.block {
  border: 1px solid black;
  height: 5%;
  width: 10%;
  background: yellow;
}  */